$header-height: 64px;
$footer-height: 36px;
$sider-width: 256px;

.layout {
  height: 100vh;
  overflow: auto;

  .header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;

    .title {
      margin: 0 50px;
      height: $header-height;
      line-height: $header-height;
    }
  }

  .main {
    min-height: calc(100vh - $header-height - $footer-height - 2px);
    padding: 20px 50px;
    box-sizing: border-box;

    .content {
      padding-left: $sider-width;
    }

    .sider {
      width: $sider-width;
      position: fixed;
      top: $header-height;
      left: 0;
    }
  }

  .footer {
    height: $footer-height;
    line-height: $footer-height;
    padding-left: $sider-width;
  }

  .divider {
    margin: 0;
  }
}
