$header-height: 64px;
$footer-height: 36px;
$sider-width: 160px;

.layout {
  height: 100vh;
  overflow: auto;

  .header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
    height: $header-height;
  }

  .main {
    min-height: calc(100vh - $header-height - $footer-height - 2px);
    box-sizing: border-box;

    .content {
      margin-left: $sider-width;
      padding: 10px 30px;
    }

    .sider {
      width: $sider-width;
      position: fixed;
      top: $header-height;
      left: 0;
    }
  }

  .footer {
    height: $footer-height;
    line-height: $footer-height;
    padding-left: $sider-width;
  }

  .divider {
    margin: 0;
  }
}
